.conteiner {
  display: flex;
  justify-content: center;
  width: 100%;
  ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .mensagemDeErro {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1.2rem;
    svg {
      font-size: 3rem;
      path {
        color: var(--corPrincipal);
      }
    }
  }
}