.itemConteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 15px 20px;
  max-width: 220px;
  background-color: var(--fundoFilmes);
  border: 1px solid var(--bordaElementos);
  border-radius: var(--borderRadius);
  color: var(--corTexto);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
  transition: all .1s ease;
  &:hover {
    background-color: var(--elementosDeFundo);
    transform: scale(1.01);
  }
  .itemImagem {
    width: 180px;
    max-width: 250px;
    border-radius: var(--borderRadius);
  }
  .itemTitulo {
    font-size: .95rem;
    font-weight: 500;
    text-align: center;
  }
  .itemData {
    font-size: .8rem;
    color: rgb(99, 99, 99);
    justify-self: baseline;
    margin-top: 10px;
  }
}