.barraPesquisaHeader {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -44px;
  width: 100%;
  width: 100%;
  left: 0px;
  z-index: 1;
  animation: barraPesquisaHeader 0.5s ease;
  input {
    padding: 6px;
    width: 79%;
    border-radius: var(--borderRadius2) 0px 0px var(--borderRadius2);
    border: 1px solid var(--bordaElementos);
    outline: none;
    &:focus {
      outline: 1px solid var(--corPrincipal);
    }
    &::placeholder {
      color: rgb(129, 129, 129);
    }
  }
  a {
    padding: 5px 50px;
    background-color: var(--corPrincipal);
    border: 1px solid var(--corPrincipal);
    font-size: 1.2rem;
    border-radius: 0px var(--borderRadius2) var(--borderRadius2) 0px;
    transition: all 0.1s ease;
    cursor: pointer;
    path {
      color: var(--branco);
    }
    &:hover {
      background-color: var(--elementosDeFundo);
      path {
        color: var(--corPrincipal);
      }
    }
    a {
      height: 100%;
      width: 100%;
    }
  }
  .error {
    position: absolute;
    bottom: -30px;
    font-size: .9rem;
    color: var(--avRuim);
    left: 75px;
  }
}

@keyframes barraPesquisaHeader {
  from {
    bottom: 10px;
  }
}