.conteinerOpcoes {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  label {
    display: flex;
    align-items: center;
    font-size: .85rem;
    border: 1px solid var(--bordaElementos);
    padding: 2px 5px;
    border-radius: var(--borderRadius);
    color: var(--subTextos);
    font-weight: 300;
    cursor: pointer;
    &:hover {
      background-color: var(--elementosDeFundo);
    }
    input {
      display: none;
    }
  }
}