.header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid var(--bordaElementos);
  z-index: 1000;
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1500px;
    width: 100%;
    position: relative;
  }
  .marca {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    p {
      font-weight: 600;
      span {
        color:var(--corPrincipal)
      }
    }
  }
}