.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  position: relative;
  .marca {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    p {
      font-weight: 600;
      span {
        color:var(--corPrincipal)
      }
    }
  }
}