.resultadosConteiner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  .resultadosItens {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  @media (max-width: 1000px) {
    align-items: center;
    .resultadosItens {
      justify-content: center;
    }
  }
}