@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --fontPrincipal: 'Poppins', sans-serif;
  --corPrincipal: #27498c;
  --elementosDeFundo: #e5e9f1;
  --branco: #fff;
  --fundoFilmes: #F9F9F9;
  --corTexto: #1f1f1f;
  --avPositivo: #61e034;
  --avMedio: #f1c423;
  --avRuim: #f13423;
  --borderRadius: 10px;
}

* {
  font-family: var(--fontPrincipal);
  margin: 0px;
  padding: 0px;
  color: var(--corTexto);
}

main, header, footer {
  padding: 0px 90px;
}

a {
  text-decoration: none;
  color: var(--corTexto);
}

ul {
  list-style: none;
}