.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  font-size: 3rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.048);
  backdrop-filter: blur(2px);
  height: 100%;
  transition: all .1s ease;
  svg {
    animation: animaLoading 1.5s ease infinite;
  }
  path {
    color: var(--corPrincipal);
  }

  @keyframes animaLoading {
    from {
      transform: rotate(360deg);
    }
  }
}

